@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: "Orbitron", sans-serif;
    color: aqua;
    font-style: normal;
    font-weight: 400;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(26, 26, 26);
}

#timerInputs{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    font-size: 100px;
    width: 700px;
    padding: 10px;
}

input[type="number"]{
    background: transparent;
    border: none;
    text-align: center;
    margin-left: 10px;
    font-size: 100px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]:focus{
    border: none;
    outline: none;
}

#actions {
    text-align: center;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#actions > button {
    background: transparent;
    height: 30px;
    width: 100px;
    border-radius: 5px 0px 5px 0px;
}

#actions > button:hover {
    cursor: pointer;
    background-color: aqua;
    color: black;
    transition: .5s;
}